* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.code_box {
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    background-color: black;
    font-family: "Consolas";
    font-size: 85%;
}

.code {
    background-color: black;
    color: rgb(125, 129, 129);
    font-family: "Consolas";
    padding-left: 7px;
}

.code_line {
    background-color: black;
    padding-left: 50px;
    overflow: auto;
}

.highlight_none {
    color: rgb(15, 180, 230);
    font-family: "Consolas";
    font-size: 100%;
}

.highlight_word {
    color: khaki;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 100%;
}

.highlight_symbol {
    color: rgb(221, 74, 74);
    font-weight: bold;
    font-family: "Consolas";
    font-size: 100%;
}

.highlight_number {
    color: rgb(186, 116, 252);
    font-weight: bold;
    font-family: "Consolas";
    font-size: 100%;
}

.invisible {
    color: limegreen;
    font-family: "Consolas";
}

.highlight_str {
    color: rosybrown;
    font-family: "Consolas";
    font-size: 100%;
}

.IO_box {
    border-style: solid;
    border-color: rgb(71, 71, 70);
    border-width: 5px;
    border-spacing: 5px;
    border-radius: 5px;
    font-family: Courier;
    font-weight: bold;
    background-color: black;
    color: white;
    resize: none;
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
}

.IO_text {
    border-style: solid;
    border-color: rgba(170, 166, 166, 0.322);
    border-width: 5px;
    border-spacing: 5px;
    border-radius: 5px;
    font-size: 120%;
    font-weight: bold;
    background-color: rgba(170, 166, 166, 0.322);
    color: black;
    resize: none;
    width: 500px;
    height: 24px;
}

.content {
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
}

.text_box {
    background-color: rgba(254, 255, 170, 0.24);
    border-radius: 5px;
    border: rgba(170, 166, 166, 0.322);
    border-style: solid;
    border-width: 3px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    margin-bottom: 17px;
}

.text_heading {
    border-width: 10px;
    border-style: sold;
}

hr {
    border: 0;
    height: 2px;
    background: rgba(170, 166, 166, 0.322);
}

.round_button {
    background-color: rgba(170, 166, 166, 0.486);
    color: black;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}

.round_button:active, .round_button:hover {
    background-color: rgb(128, 125, 125);
    color: white;
}

.head_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
}

.O_paste_box {
    width: 100%;
    height: 300px;
    resize: none;
    font-family: monospace;
    background-color: rgba(254, 255, 170, 0.24);
    border-radius: 5px;
    border: rgba(170, 166, 166, 0.322);
    border-style: solid;
    border-width: 3px;
    overflow: auto;
    overflow-wrap: break-word;
}

.paste_box {
    font-weight: lighter;
    font-family: monospace;
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 5px;
    border: rgba(170, 166, 166, 0.322);
    border-style: solid;
    border-width: 3px;
}

.lan_sel_box {
    background-color: rgba(254, 255, 170, 0.24);
    border-radius: 5px;
    border: rgba(170, 166, 166, 0.322);
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
}